
body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh; 
    font-family: 'helvetica';   
}
.head {
	text-align: center;
	font-size: 20px;
}
.panel{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 5vh;
    background-color: #whitesmoke;
    font-size: large;
    text-align: center;
      
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 30px;
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #whitesmoke;   
        
}
.option{    
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: smaller;
    color: black;
    background-color: #9DCFF5;
    border-radius: 10%;
    border-color: #6F92AD;


}
.option:hover{
    background-color: #6F92AD;
}
.navigation{
    width: 70vw;
    height: 5vh;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#whitesmoke;
}
  
.evaluate{
	width:60vw;
    height: 6vh;
    padding: 5px;
    font-size: 12px;
    border-color: #96C791;
    background-color: #B8F5B3;
}
.next{
	width:20vw;
    height: 6vh;
    padding: 5px;
    font-size: 12px;
    background-color: #D9DDDE;
}